data/
scripts_presh/
info/
.DS_Store
*.log
*.last
TempLattice*/
*.pyc
__pycache__/
*.dat
Images/
phasecenter/
scripts_old/
VLA-messy/
RM-Tools/
data_new/
scripts/nohup.out
scripts/print.pdf
server/
*.fits
paper1/
paper2/
*.csv
*.txt
scripts/*.ipynb
scripts_24/*.ipynb
*tex
mask_pybdsf/
test_j/
.ipynb_checkpoints/
