data/
scripts_presh/
info/
.DS_Store
*.log
*.last
TempLattice*/
*.pyc
__pycache__/
*.dat
Images/
phasecenter/
scripts_old/
VLA-messy/
RM-Tools/
data_new/
scripts/nohup.out
scripts/print.pdf
03/32/04.530001_+31.05.04.00000-spw2-16~23-2.5arcsec-nit5000-1e-4-I.image/